.t-his{
    margin-right: 5rem;
}

.t-his{
    font-size: 24px;
}

.r-his{
    font-size: 24px;
    color: rgb(64, 64, 64);
}

.container {
    margin-top: 3rem;
}

.history {
    margin-bottom: 2rem;
}