.container{
    margin-top: 2rem;
    align-items: center;
}

.current{
    margin-top: 2.5rem;
    font-size: 40px;
}

.bl-num{
    color: red;
}

.accnumber, .amout{
    font-size: 28px;
}

.wd-btn{
    margin-top: 1rem;
    font-size: 20px;
}